@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We use the information we have (subject to permissions and choices you make) to provide an overall better using experience to our customers. </p>
